<!DOCTYPE html>
<html>
    <head>
        <script src="https://kit.fontawesome.com/e020d33be2.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="game.css">
        <link rel="stylesheet" href="card.css">
        <title>Blackjack!</title>
    </head>
    <body>
        <h1>Welcome to Blackjack!</h1>
        <button>Click to play</button>

        <div class="card-wrap black-card">
            <h2>7</h2>
            <i class="fa-solid fa-heart"></i>
        </div>
        <div class="card-wrap black-card">
            <h2>7</h2>
            <i class="fa-solid fa-heart"></i>
        </div>
    </body>
</html>